.mt{
    margin-top: 20px;
}
.mt2{
    margin-top: 40px;
}
.gambarkoin{
    width: 50px; /* here put your width */
    height: 50px; /* here put your height */
}
.logo{
background-image: url("/test/latihanhomepage/assets/Logo.png");
    width: 35px; /* here put your width */
    height: 35px; /* here put your height */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.side-image{
    background-image: url("/test/latihanhomepage/assets/poto1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.side-image2{
    background-image: url("/test/latihanhomepage/assets/poto2.png");
    background-position: center;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    position: relative;
}
.cardalaala{
    height: 345px;
    border-radius: 0px;
}
.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 50vh;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 50vh;
    padding-bottom: 60px;
}
.card4{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 50vh;
    padding-bottom: 60px;
    height: 119px;
    left: 284px;
    top: 2329px;

    text-align: center;

    color: #6B717C;

}
.card5{
    background-image: url("/test/latihanhomepage/assets/Vector\ 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 60px;
    min-height: 100vh;
}
.card7{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    min-height: 50vh;
    padding-bottom: 60px;
    background-color: #0D1C37;
    color: white;
}
.kartutiga{
    background-color: #0D1C37;
    color: white;
    display: flex;
}
.ml2{
    margin-left: 9px;
}
.mbot{
    margin-bottom: 15px;
}